NODE_ENV=development

NEXT_PUBLIC_API_URL=
NEXT_PRIVATE_API_URL=
NEXT_PUBLIC_SOCKET_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

INTRA_CLIENT_ID=
INTRA_CLIENT_SECRET=
